---
import Layout from "./../layouts/Layout.astro"
import MetaTags from "../layouts/metaTags.astro"
import Title from "../components/title.astro"
import SubTitle from "../components/subTitle.astro"
import routes from "./../routes/route.js"
import Note from "../components/note.astro"
import ResourcesContainer from "../components/resourcesContainer.tsx"
import type { Resource } from "../type.js"

export function getStaticPaths() {
    return routes
}

interface Props {
    title: string
    description: string
    keywords: string[]
    id: string
	category: boolean
	resources: {
		[index: string]: any[]
	}
}

const { title, description, keywords, id, category, resources } = Astro.props;
const categories: string[] | null = Object.keys(resources)
let arrayResources: Resource[] = [];

if(Array.isArray(resources)){
	arrayResources = [...resources]
}else {
	for (const iterator in resources) {
	arrayResources.push(...resources[iterator])
}
}
---

<Layout>
    <MetaTags slot="head">
        <meta
	    	name="description"
	    	content={description} />
        <meta
	    	name="keywords"
	    	content={keywords.join(", ")} />
	    <meta
	    	property="og:description"
	    	content={description} />
	    <meta property="og:title" content={title} />
	    <meta name="revised" content="JaviRecursos, 2/2/2024"/>
	    <meta name="title" content={title} />
	    <title>{title}</title>
    </MetaTags>
	<Title>{title.split(" | ")[1]}</Title>
	<Note />
	<hr />
	<SubTitle>Recursos:</SubTitle>
	<ResourcesContainer 
		categories={categories} 
		resources={arrayResources} 
		category={category} 
		client:load 
	/>
</Layout>