---
import Layout from '../layouts/Layout.astro';
import Title from '../components/title.astro';
import SubTitle from '../components/subTitle.astro';
import Note from '../components/note.astro';
import MetaTags from './../layouts/metaTags.astro'
import stylesScss from './../styles/index.module.scss'

---

<Layout title="JaviRecursos">
    <MetaTags slot='head'>
	<meta
		name="description"
		content="En esta web encontrarás un conjunto de herramientas y recursos que harán más fácil tu día a día como diseñador o desarrollador web. Bienvenido a JaviRecursos." />
    	<meta
		name="keywords"
		content="Recursos Frontend, Recursos de diseño web, Herramientas de inteligencia artificial, Herramientas IA, Frontend Resources, Web design Resources, IA tools, Artificial intelligence tools, Javi, Herramientas de Javier, Recursos de Javier" />
		<meta
		property="og:description"
		content="En esta web encontrarás un conjunto de herramientas y recursos que harán más fácil tu día a día como diseñador o desarrollador web. Bienvenido a JaviRecursos." />
		<meta property="og:title" content="JaviRecursos" />
		<meta name="revised" content="JaviRecursos, 2/2/2024"/>
	    <meta name="title" content="JaviRecursos" />
		<title>JaviRecursos</title>
	</MetaTags>
    <Title>JaviRecursos</Title>
	<Note />
	<hr>
	<main class={stylesScss.main}>
		<SubTitle>Recursos:</SubTitle>
		<div class={stylesScss.div}>
			<nav class={stylesScss.nav}>
				<ul class={stylesScss.ul}>
					<li class={stylesScss.li}>
						<a class={stylesScss.a} href="resources-ia">Inteligencia Artificial</a>
					</li>
					<li class={stylesScss.li}>
						<a class={stylesScss.a} href="courses">Cursos Gratuitos</a>
					</li>
					<li class={stylesScss.li}>
						<a class={stylesScss.a} href="resources-developer">Herramientas para Desarrolladores web</a>
					</li>
				</ul>
			</nav>
			<nav class={stylesScss.nav}>
				<ul class={stylesScss.ul}>
					<li class={stylesScss.li}>
						<a class={stylesScss.a} href="resources-design">Herramientas de diseño</a>
					</li>
					<li class={stylesScss.li}>
						<a class={stylesScss.a} href="resources-practice">Paginas para practicar logica de Programación</a>
					</li>
				</ul>
			</nav>
		</div>
	</main>
</Layout>